#feedback {
    margin-top: 1em;
}

.FAQ-button {
    margin-top: 10px;
    padding: 8px 40px;
    color: #0d6efd;
    background-color: transparent;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    transition: all 0.1s;
}

.FAQ-button:hover {
    background-color: #0d6efd;
    color: white;
}

#alert-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.alert-text {
    display: flex;
    background-color: rgba(0, 128, 0, 0.717);
    color: white;
    border-radius: 8px;
    padding: 4px 10px;
    margin: 10px;
    transition: opacity 3s;
}